
/* background image for body */
.dailyJournal-body {
    background-image: url(beverage-blank-blank-space-414691\ \(2\).jpg);
}

.dailyJournal-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 12%;
    margin-left: 18%;
    
}


/* flex direction for each form input */
.dateEntryInput {
    display: flex;
    flex-direction: column;
}

.conceptsCoveredInput {
    display: flex;
    flex-direction: column;
}

.journalEntryInput {
    display: flex;
    flex-direction: column;
}

.moodInput {
    display: flex;
    flex-direction: column;
}