
/* background image for body */
.dailyJournal-body {
    background-image: url(https://i.pinimg.com/originals/8b/53/72/8b5372e134386439e926fc7bdc8d956c.jpg)
}

/* flex direction for each form input */
.dateEntryInput {
    display: flex;
    flex-direction: column;
}

.conceptsCoveredInput {
    display: flex;
    flex-direction: column;
}

.journalEntryInput {
    display: flex;
    flex-direction: column;
}

.moodInput {
    display: flex;
    flex-direction: column;
}